<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">   
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<!-- Keep this order -->

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
	
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>	
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/on-server/css/fontawesome-all.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>

	<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.css}"/>
	<script th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.js}"></script>	

</head>
<body>
	<nav class="navbar navbar-expand-sm background-color-caption">
	  <a class="navbar-brand text-light" href="#">DevOps</a>
	      <ul class="navbar-nav mr-auto">
	      </ul>      
	      <ul class="navbar-nav ">
	      </ul>      	    
	      <ul class="navbar-nav ">
		      <li class="nav-item"><a><img src="/images/impactpositif.png" width="200" height="30"></a></li>
	      </ul>      
	</nav>
	<section layout:fragment="content"></section>
	
	<footer class="container-fluid">
		<div class="container-fluid text-small">
			<hr/>
			<small th:text="#{footer.copyright}"></small>
			<small th:text="#{footer.application.version}"></small>
			<small th:text="#{footer.application.date}"></small>			
		</div>	
	</footer>
</body>
</html>